<footer
  class="bg-black py-14 md:py-12 md:pb-5 text-white text-opacity-80 px-14"
>
  <div class="max-w-7xl mx-auto">
    <div
      class="p-4 px-0 border-y-[0.5px] border-slate-700 mb-10 flex gap-4 lg:gap-20 sm:justify-center flex-wrap"
    >
      <div *ngFor="let item of FOOTER_CONTACTS" class="flex items-center gap-3">
        <div class="text-primary">
          <fa-icon [icon]="item.icon"></fa-icon>
        </div>
        <span>{{ item.text }}</span>
      </div>
    </div>
    <div class="grid sm:grid-cols-2 lg:flex gap-14 md:gap-10 justify-between">
      <div *ngFor="let item of FOOTER_ITEMS">
        <h3 class="text-white mb-4">{{ item.item }}</h3>
        <ul *ngIf="item.item !== 'CONNECT WITH US'">
          <li
            *ngFor="let subItem of item.subItems"
            class="mb-1.5 flex gap-3 items-center hover:text-white cursor-default"
          >
            <div>
              <fa-icon [icon]="faChevronRight" class="text-xs"></fa-icon>
            </div>
            <span>{{ subItem.text }}</span>
          </li>
        </ul>
        <div *ngIf="item.item === 'CONNECT WITH US'">
          <a
            *ngFor="let subItem of item.subItems"
            class="mb-1.5 flex gap-3 items-center hover:text-white cursor-default"
            href="{{ subItem.link }}"
            target="_blank"
          >
            <div>
              <fa-icon [icon]="subItem.icon"></fa-icon>
            </div>
            <span>{{ subItem.text }}</span>
          </a>
        </div>
      </div>
      <!-- <div class="flex flex-col gap-5">
      <div>
        <a routerLink="/">
          <img
            [src]="logoImagePath"
            width="150"
            class="transition-all duration-300 hover:scale-110"
            alt="URUTI_LOGO"
            loading="lazy"
          />
        </a>
      </div>
      <div class="flex items-center gap-2 hover:text-primary">
        <fa-icon [icon]="faLocationIcon"></fa-icon>
        <p>KK 456 st, Gikondo - Kicukiro</p>
      </div>
      <div class="flex items-center gap-2 hover:text-primary">
        <fa-icon [icon]="faClock" (size)="(10)"></fa-icon>
        <p>Open 9AM to 17 PM</p>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h4 class="text-opacity-100 text-white font-semibold">Explore</h4>
      <a
        routerLink="{{ item.link }}"
        *ngFor="let item of menuItems"
        class="whitespace-nowrap hover:text-primary"
        >{{ item.title }}</a
      >
    </div>
    <div class="flex flex-col gap-4">
      <h4 class="text-opacity-100 text-white font-semibold">Portfolio</h4>
      <div class="flex gap-5">
        <a
          href="https://tunganawe.rw/"
          target="_blank"
          title="Tunga"
          *ngFor="let portfolio of [1, 2]"
          class="w-[120px] h-[105px] hover:opacity-80 overflow-hidden hover:rounded-lg"
        >
          <img
            src="https://tunganawe.rw/products/imodoka.png"
            width="200"
            height="200"
            class="w-full h-full object-cover hover:scale-125"
            loading="lazy"
          />
        </a>
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h4 class="text-opacity-100 text-white font-semibold">Contact</h4>
      <div class="flex items-center gap-2 hover:text-primary whitespace-nowrap">
        <fa-icon [icon]="faLocationIcon"></fa-icon>
        <p>KK 456 st, Gikondo - Kicukiro</p>
      </div>
      <div class="flex items-center gap-2 hover:text-primary whitespace-nowrap">
        <fa-icon [icon]="faClock" (size)="(10)"></fa-icon>
        <p>Open 9AM to 17 PM</p>
      </div>
    </div> -->
    </div>
  </div>
</footer>
<div
  class="text-center border-t-[1px] border-t-slate-800 bg-black text-white p-4"
>
  <p class="text-sm">Copyright © 2024 | Uruti Hub Ltd | All Rights Reserved.</p>
</div>
